.title {
 padding: 0 10px;
 text-transform: uppercase;
 font-family: 'PT Sans', sans-serif;
 font-size: 1.2em;
 font-weight: 500;
 color: #888888;
 text-align: center;
}
.nevval {
   vertical-align: text-top;
}
.conditional_form_part {
  display: block;
}
.conditional_form_part_activator:checked + .conditional_form_part {
  display: none;
  visibility: hidden;
}
