.title {
 padding: 0 10px;
 text-transform: uppercase;
 font-family: 'PT Sans', sans-serif;
 font-size: 1.2em;
 font-weight: 500;
 color: #888888;
 text-align: center;
}
.modified_item {
  position: relative;
  top:50%;
  margin-top:-50px;
  padding: 10px;
  display: block;
  overflow: hidden; }

.conditional_form_part {
  display: block;
}
.conditional_form_part_activator:checked + .conditional_form_part {
  display: none;
  visibility: hidden;
}
